{
  inputPath:"/user/meena/orders/"
  format:"csv"
  columns: ["order_id","order_date","cust_id","order_status"]
  hbase {
  source.files = [
    "/etc/hbase/conf/hbase-site.xml",
    "/etc/hadoop/conf/hdfs-site.xml",
    "/etc/hadoop/conf/core-site.xml",
    "/etc/hive/conf/hive-site.xml"
  ]
  zookeeper.quorum = "ybolhdpm01.yotabites.com,ybolhdpm02.yotabites.com,ybolhdpd01.yotabites.com"
  tblname = "hif:orders_load"
  column.family = "cf"
  }
}
